.HeaderContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
}
.username {
  font-size: 1.2rem;
}
.logoutButton {
  background: #db0000;
  border: 1px solid #db0000;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  /* line-height: 16px; */
  /* min-height: 40px; */
  outline: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.logoutButton:hover,
.logoutButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #db0000;
}

.logoutButton:active {
  opacity: 0.5;
}

.userDetailsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.userImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.SignIn {
  font-size: 1.5rem;
}
.googleImage {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 2rem;
}
.GoogleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border: 1px solid #db0000;
  border-radius: 2rem;
  padding: 1rem;
}

.MovieCardContainer {
  /* width: 200px;
  height: 300px; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.MovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.iframe {
  width: 100%;
  height: 200px;
  border: 1px solid #db0000;
  padding: 1rem;
  border-radius: 1rem;
}

.MovieContainer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.search {
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(247, 248, 248);
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
  width: 100%;
}
.search:focus {
  outline: none;
  box-shadow: none;
  border-color: #db0000;
}

.downloadButton {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: white;
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p) /
    calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.downloadButton:hover,
.downloadButton:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.downloadButton:active {
  background: var(--color);
  color: #fff;
}

.kapilButtonContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

::-webkit-scrollbar:horizontal {
  display: none;
}
