.HeaderContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
}
.username {
  font-size: 1.5rem;
}
.logoutButton {
  background: #db0000;
  border: 1px solid #db0000;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  /* line-height: 16px; */
  /* min-height: 40px; */
  outline: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.logoutButton:hover,
.logoutButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #db0000;
}

.logoutButton:active {
  opacity: 0.5;
}

.userDetailsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.userImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.SignIn {
  font-size: 1.5rem;
}
.googleImage {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 2rem;
}
.GoogleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border: 1px solid #db0000;
  border-radius: 2rem;
  padding: 1rem;
}

.MovieCardContainer {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.iframe {
  width: 100%;
  height: 200px;
}
