.football-card {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  min-width: 200px;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #373b44;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
}

.football-card .league {
  font-weight: bold;
}

.football-card .teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.football-card .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 80px; /* Give a fixed width to prevent long names from pushing 'VS' */
}

.football-card .team-name {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  width: 100%;
}

.football-card .team-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.football-card .status-live {
  color: red;
  font-weight: bold;
}
